<!--
<h1 class="bg-primary">Welcome to my FirstApp</h1>

<button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>

  <app-addprofile></app-addprofile>
  <app-contact></app-contact>

<div *ngFor="let i of students">
  {{i.fname}}
</div>

<table>
  <tr>
    <th>FIRST NAME</th>
    <th>LAST NAME</th>
    <th>ID</th>
  </tr>
  <tr>
    <td>{{students[0].fname}}</td>
    <td>{{students[0].lname}}</td>
    <td>{{students[0].id}}</td>
  </tr>
  <tr>
    <td>{{students[1].fname}}</td>
    <td>{{students[1].lname}}</td>
    <td>{{students[1].id}}</td>
  </tr>
  <tr>
    <td>{{students[2].fname}}</td>
    <td>{{students[2].lname}}</td>
    <td>{{students[2].id}}</td>
  </tr>
  <tr>
    <td>{{students[3].fname}}</td>
    <td>{{students[3].lname}}</td>
    <td>{{students[3].id}}</td>
  </tr>
</table>

<table>
  <tr>
    <th>INDEX</th>
    <th>FIRST NAME</th>
    <th>LAST NAME</th>
    <th>ID</th>
  </tr>
  <tr *ngFor = "let i of students; index as in; first as f;last as l; even as e">
  <p *ngIf="f else NoStyles">
    <td style="color:red">{{in}}</td>
    <td style="color:red">{{i.fname}}</td>
    <td style="color:red">{{i.lname}}</td>
    <td style="color:red">{{i.id}}</td>
  </p>
    <ng-template #NoStyles>
      <td style="color:green">{{in}}</td>
      <td style="color:green">{{i.fname}}</td>
      <td style="color:green">{{i.lname}}</td>
      <td style="color:green">{{i.id}}</td>
    </ng-template>
  </tr>
</table>

<ul>
  <li *ngFor = "let i of students; even as e; odd as o;">
    <div *ngIf="e" style="background-color:green">{{i.fname}} {{i.lname}} {{i.id}}</div>
    <div *ngIf="o" style="background-color:yellow">{{i.fname}} {{i.lname}} {{i.id}}</div>
  </li>
</ul>

  <div [ngSwitch] = "category">
    <p *ngSwitchCase = "'clothing'">Clothes Section is displayed here</p>
    <p *ngSwitchCase = "'electronics'">Electronics Section is displayed here</p>
    <p *ngSwitchCase = "'grocery'">Grocery Section is displayed here</p>
    <p *ngSwitchDefault> No Section Available</p>
  </div>

  <div [ngSwitch] = "couponCode">
    <p *ngSwitchCase = "101">10% discount</p>
    <p *ngSwitchCase = "102">12% discount</p>
    <p *ngSwitchCase = "103">15% discount</p>
    <p *ngSwitchDefault> No Section Available</p>
  </div>

  <div [ngStyle]="{'color':role=='admin'?'red':'blue'}">
    Hi Viewer
  </div>

  <div [ngStyle] = "{'color': 'red'}"> Hello </div>

<div [ngStyle] = "{'color': 'blue','background-color':'yellow'}"> Hello </div>

<div [ngStyle] = "{'color':dynamicColor,'background-color':'yellow'}"> Hi </div>

<div [ngClass]="'c1'">Hello</div>

<div [ngClass]="'c1 c2'">Welcome</div>

<div [ngClass]="'c1 c2 c3'">Good Bye</div>-->

<!--for passing variable a value enclose it in double quotation marks "VariableName"
ngClas means angularClass. ng stands for angular-->
<!--<div [ngClass]="styleProp">Good Morning</div>-->

<!--defining class beased on condition-->
<!--<div [ngClass]="role =='admin'?'c1':'c2'"> Good Evenening </div>

<h1>{{age}}</h1>
<h1>{{initial}}</h1>
<h1>{{marks[1]}}</h1>
<h1>{{student}}</h1>
<h1>{{isStudent}}</h1>
<h1 *ngFor="let m of marks">{{m}}</h1>-->

<!--<h1>{{employees[0].Name +" "+employees[0].Gender}}</h1>-->
<!--<h1 *ngFor="let e of employees">{{e.Name}} {{e.Gender}}</h1>

<h1>{{student.name}} {{student.age}} {{student.gender}}</h1>
<h1>{{num1+num2}}</h1>
<h1>{{num1-num2}}</h1>
<h1>{{num1*num2}}</h1>
<h1>{{num1/num2}}</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Gender</th>
  </tr>-->

  <!--Iterating over an array of objects in AngularJS-->
  <!--<tr *ngFor="let g of employees">
    <td [title]="'Employee Name'">{{g.Name}}</td>
    <td [title]="'Employee Gender'">{{g.Gender}}</td>
  </tr>
</table>-->

<!--Binding Css Property in AngularJS. use [attribute.property]="'value'"
String values are always displayed in "'StringValue'"-->
<!--<p [style.color]="'red'">This is property Binding</p>-->

<!--use [src]="VariableName" directive
VariableName is always displayed in "VariableName"-->
<!--<img [src]="imgAddr">-->

<!--use (click) angularjs event to add function to be executed when user clicks button
(click) is similar like javascripts onclick event-->
<!--<button (click)="display()">Click Here</button>
<br><br>-->

<!--Example of Interpolation => sending & getting values between .component.html & .component.ts file simultaneously-->
<!--<label for="FirstName">First Name</label>-->

<!--use [(ngModel)] directive to bind the value of html <input> element
with angular application variable named "fname"-->
<!--<input type="text" name="fname" [(ngModel)]="fname">-->

<!--Use AngularJS Expression {{}} to get the variable value from application model-->
<!--<h2>{{fname}}</h2>-->

<table>
  <tr>
  <th>FIRST NAME</th>
  <th>FULL NAME</th>
  </tr>
  <tr *ngFor = "let e of employee">
  <td>{{e.FirstName}}</td>
  <td>{{e.FirstName|initial:e.MiddleName:e.LastName}}</td>
  </tr>
</table>


<table>
  <tr>
  <th>CITY NAME</th>
  <th>CITY CODE</th>
  </tr>
  <tr *ngFor = "let c of cities">
  <td>{{c}}</td>
  <td>{{c|citycode}}</td>
  </tr>
</table>


<app-nav></app-nav>
<router-outlet></router-outlet>
